<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/potty.css">
    <title>Potter Charcters</title>

    <style>
        @import url('https://fonts.cdnfonts.com/css/harry-potter');
    </style>

</head>
    <body style="background-image: url('../static/images/Hogwarts.jpg'); width: 100%;">
    <h1 class="colore"> I PERSONAGGI BURRO-BIRROSI DI POTTY</h1>
    <div class="contenitore">
    {% for item in units %}
    <p>
        Character Name: {{ item[1] }}<br>
        Species: {{ item [2]}}<br>
        Gender: {{ item [3]}}<br>
        House: {{ item [4]}}<br>
        Patronus: {{ item [5]}}<br>
        Wand (Wood): {{ item [6]}}<br>
        Wand (Core): {{ item [7]}}<br>
    </p>
    <img src="../static/images/{{ item[1] }}.png" alt="{{item[0]}}" width="50px" height="150px" class="flexitems">
    {% endfor %}
    </div>
</body>

</html>